// 加入願望清單按鈕
.btn-favorite {
  z-index: 500;
  top: 16px;
  right: 16px;
  background: rgba(40, 40, 40, 0.6);
  backdrop-filter: blur(10px);

  &:hover {
    background: rgba(40, 40, 40, 0.4) !important;
  }

  &:active {
    background: rgba(40, 40, 40, 0.8) !important;
    border: 1px solid rgb(81, 81, 81) !important;
  }
}

// 圖片容器和圖片懸停效果
.product-image-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%; // 創建一個正方形的容器
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  will-change: transform;
}

// .product-card 用於觸發 card-bg 的 hover 背景效果
.product-card {
  &:hover {
    .card-bg {
      opacity: 1;
    }
    
    .product-image {
      transform: scale(1.1);
    }
  }
}

// 卡片元件設定
.card-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(
    47.43% 26.42% at 50% 73.58%,
    #ffeedb 0%,
    rgba(255, 238, 219, 0) 100%
  );
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

// 熱銷標籤設定 - 左上角超出
.position-relative {
  .hot-sale {
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: 10;
    pointer-events: none;
    width: 48px;
    height: 48px;
  }
}