.titlDeco{
    border: 1px solid $neutral40;
}

.editProdectslist{
    border: 1px solid $neutral40;
    // background-color:$primary ;
}

.pagination-container {
    position: relative;
    top: 20px; /* 可根據需求調整 */
  }