
.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;

  }

  .timeline::before {
      content: "";  /*線條可能沒有顯示*/
      position: absolute;
      left: 45px; /* 讓線條對齊圓點 */
      width: 2px;
      height: calc(100% - 72px); /* 減少線條長度，讓它剛好包住 */
      top: 36px;
      background: $neutral40; /* 灰色線條:$neutral40(#D0CDC7) */
    }

  .timeline-item {
    position: relative;
    color: $neutral40 ; /* 預設灰色:$neutral40(#D0CDC7) */
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .timeline-item::before {
    content: "";  /*線條可能沒有顯示*/
    position: absolute;
    left: -24px; /* 讓圓點對齊時間軸線 */
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: $neutral40 ;/* 預設灰色圓點:$neutral40(#D0CDC7) */
    border-radius: 50%;
  }
  
  .timeline-item.active {
    font-weight: bold; 
    color: $primary; /* 橙色選中:$primary(#FFBB6D) */
  }
  
  .timeline-item.active::before {
    background:$primary; /* 橙色圓點:$primary(#FFBB6D) */
  }